body, html{
  margin: 0;
  font-family: sans-serif;
}

img {
  width: 100%;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

header {
  border-bottom: 1px solid black;
  margin: 0;
}

.title {
  font-size: 4vw;
}

.rating {
  font-size: 1vw;
  text-align: left;
  padding: 0;
}

#main {
  height: 92vh;
  margin: 0;
}

.list {
  height: 90vh;
  border-right: 1px solid black;
  padding: 0;
  overflow: scroll;
}

#location_list {
  border-top: 1px solid black;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.location {
  border-bottom: 1px solid black;
  padding: 5px 0;
  background-color: white;
}

.location_text {
  font-size: 1.5vw;
}

@media only screen and (max-width: 600px) {
    .location_text {
        font-size: 2.5vw;
    }
}

.map {
  height: 90vh;
  padding: 0;
}

#map {
  height: 100%;
}
